<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.title %></title>
    <style>
        iframe {
            width: 600px;
            height: 400px;
        }
    </style>
</head>

<body>
    <h3><%= data.title %></h3>
    <p>性感大叔在线发牌</p>
    <iframe src="http://jx.618g.com/?url=<%= data.playUrl%>" frameborder="0"></iframe>
</body>

</html>